<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="commonHeader(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="shortcut icon" type="image/ico" th:href="@{/static/favicon.ico}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link th:href="@{/static/plugins/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/static/css/admin.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/contextMenu/jquery.contextMenu.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  th:href="@{/static/plugins/select/formSelects-v4.css}"/>

</head>
</html>